<h2><%= board_game.name %></h2>
<p>
  <strong>Rating:</strong>
  <%= board_game.rating %>
</p>
<p>
  <strong>Category:</strong>
  <%= board_game.category.name %>
</p>
<% if board_game.image.present? %>
  <p><%= image_tag board_game.image %></p>
<% end %>
<% if show_details_link %>
  <p>
    <%= link_to 'View Details', board_game %>
  </p>
<% end %>
